<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sju.jee.mapper.TbUserMapper">

    <resultMap id="BaseResultMap" type="cn.edu.sju.jee.model.TbUser">
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
    </resultMap>

    <!-- 修改后的查询方法：通过用户名和密码查询用户 -->
    <select id="queryByUsernameAndPassword" resultMap="BaseResultMap">
        select *
        from tb_user
        where  user_name = #{userName} and password = #{password}
    </select>

</mapper>